@{
    ViewData["Title"] = "rss";
}

@section Scripts{
    <script src="~/js/client_render.js"></script>
}

@using web.ViewModels
@using web.Controllers
@using web.Util.View
@model IEnumerable<RSS>
@{
    ViewData["Title"] = "rss";
}

<div class="container" id="container">
    
</div>
