@{
    ViewData["Title"] = "Contact";
}

<div class="pt-3 pb-3">
    <div class="jumbotron text-center">
        <address>
            Maxim Zhiburt<br />
            <abbr title="Email">Email:</abbr>
            zhiburt@gmail.com
        </address>

        <address>
            <strong>github </strong> <a class="text-dark" href="https://github.com/zhiburt"><i class="fab fa-2x fa-github-square"></i></a><br />
            <strong>codewars </strong> <a href="https://www.codewars.com/users/zhiburt">https://www.codewars.com/users/zhiburt</a><br />
        </address>
    </div>
</div>
